body {
  font-family: Arial;
  text-align: center;
}

#pilha {
  margin-top: 20px;
}

.item {
  width: 100px;
  margin: 5px auto;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
}
